<script defer src="/js/aplinejs.min.js"></script>

<div id="search-content"
     x-data="{
        search: '',
        docs: [],
        get filteredItems() {
            return this.docs.filter(
                i => i.content.includes(this.search.toLowerCase()) || !this.search
            )
        }
    }"
     x-init="docs = await (await fetch('/search.json')).json()"
>
    <input x-model="search" placeholder="Search...">

    <template x-for="doc in filteredItems">
        <article>
            <hgroup>
                <a x-bind:href="doc.href" class="contrast">
                    <h3 x-text="doc.title"></h3>
                </a>
                <p x-text="doc.description"></p>
            </hgroup>
            <span x-text="doc.summary"></span>
            <footer>
                Tags: [
                <template x-for="t in doc.tags">
                    <span x-text="t +'&nbsp;'"></span>
                </template>
                ]
            </footer>
        </article>
    </template>

</div>