<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="/css/pico.violet.min.css"/>
    <title>
        {{fm.title}}{{^fm.title}}Blarg!{{/fm.title}}
    </title>
    <meta name="keywords" content="{{fm.tags}}">
    <meta name="author" content="{{fm.author}}">
    <meta name="description" content="{{fm.description}}">
</head>
<body>
<header class="container">
    <nav>
        <ul>
            <li>
                <a href="index.html" class="contrast"><strong>Blarg!</strong></a>
            </li>
        </ul>
        <ul>
            <li><a href="/latest" class="contrast">Blog</a></li>
            <li><a href="/tags" class="contrast">Tags</a></li>
            <li><a href="/about" class="contrast">About</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    <div id="site-content">
        {{>content}}
    </div>
</main>
<footer class="container">
    <p>&copy; {{year}} me! All rights reserved.</p>
</footer>
</body>
</html>