permissions: write-all
name: Artifact Release
on:
  release:
    types:
      - created
jobs:
  build:
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v6.4
      - uses: VirtusLab/scala-cli-setup@v1.5
      - run: scala-cli --power package . -o blarg -f --jvm 25 --server=false
      - run: zip -r blarg-linux-x64-${{ github.event.release.tag_name }}.zip blarg
      - run: gh release upload ${{ github.event.release.tag_name }} blarg-linux-x64-${{ github.event.release.tag_name }}.zip
